@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*#32353B
  #36393F*/

body {
  background-color: #32353B;
  margin: 0px;
  padding: 0px;
}

div.img {
  background-color: #3d4147;
}